<h1 class="text-center m-5" >
  Login 
</h1>
<div class="row m-5">
  <div class="col-4 offset-4">
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control m-2'%>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control m-2'%>

  <%= f.submit "Log in", class: 'btn btn-primary m-2 float-right'%>
<% end %>
</div>
</div>