<h1 class="text-center m-5">Create my account</h1>

<div class="row m-0">
  <div class="col-4 offset-4">
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control m-2' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control m-2' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control m-2' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control m-2' %>

      <%= f.submit "Sign up", class: "btn btn-primary m-2 float-right" %>
    <% end %>
  </div>
</div>
